name: Monthly API Fetch

on:
  schedule:
    - cron: "*/6 * * * *"  # runs on 1st of every month at 00:00 UTC
  
  workflow_dispatch:      # (optional) lets you run manually

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python main.py
